<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.wfeii.handlerleakmemory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Scene2Activity"
            android:label="Scene2Activity" />
        <activity
            android:name=".Scene1Activity"
            android:label="Scene1Activity" />
        <activity android:name=".Scene3Activity"
            android:label="Scene3Activity"/>
    </application>

</manifest>